#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/*Aside*/
aside {
  width: 320px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0 0.2);
  padding: 30px 20px;
  position: fixed;
  border-radius: 10px;
}

aside strong {
  font-size: 1.25rem;
  text-align: center;
  display: block;
  color: #333;
}

/*MAIN*/
main {
  flex: 1;
  margin-left: 350px;
}
